{%- liquid
  assign tag_seo = nil

  if template == 'collection' and current_tags.size > 0

    assign current_tags_handle = current_tags | join: '+' | handleize

    assign seo_entries = shop.metaobjects.tag_collection_seo.values

    for entry in seo_entries

      assign entry_collection = entry.collection_handle.value | handleize
      assign entry_tag = entry.tag.value | handleize

      if entry_collection == collection.handle and entry_tag == current_tags_handle
        assign tag_seo = entry
        break
      endif

    endfor

  endif
-%}


<title>
  {%- if tag_seo and tag_seo.seo_title != blank -%}
    {{ tag_seo.seo_title.value }}
  {%- else -%}
    {{ page_title }}
  {%- endif -%}
</title>

<meta
  name="description"
  content="{% if tag_seo and tag_seo.seo_description != blank %}{{ tag_seo.seo_description.value | escape }}{% else %}{{ page_description | escape }}{% endif %}"
>




<meta charset="utf-8">
<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge"
>
<meta
  name="viewport"
  content="width=device-width,initial-scale=1"
>
<meta
  name="view-transition"
  content="same-origin"
>
<meta
  name="theme-color"
  content=""
>

{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_url = canonical_url | default: request.origin
  assign og_type = 'website'
  assign og_description = page_description | default: shop.description | default: shop.name

  if request.page_type == 'product'
    assign og_type = 'product'
  elsif request.page_type == 'article'
    assign og_type = 'article'
  elsif request.page_type == 'password'
    assign og_url = request.origin
  endif

  if tag_seo and tag_seo.seo_title.value != blank
    assign og_title = tag_seo.seo_title.value
  endif
  if tag_seo and tag_seo.seo_description.value != blank
    assign og_description = tag_seo.seo_description.value
  endif
  if tag_seo
    assign og_url = shop.url | append: '/collections/' | append: collection.handle | append: '/' | append: tag_url_path
  endif
%}

<meta
  property="og:site_name"
  content="{{ shop.name }}"
>
<meta
  property="og:url"
  content="{{ og_url }}"
>
<meta
  property="og:title"
  content="{{ og_title | escape }}"
>
<meta
  property="og:type"
  content="{{ og_type }}"
>
<meta
  property="og:description"
  content="{{ og_description | escape }}"
>

{%- if page_image -%}
  <meta
    property="og:image"
    content="http:{{ page_image | image_url }}"
  >
  <meta
    property="og:image:secure_url"
    content="https:{{ page_image | image_url }}"
  >
  <meta
    property="og:image:width"
    content="{{ page_image.width }}"
  >
  <meta
    property="og:image:height"
    content="{{ page_image.height }}"
  >
{%- endif -%}

{%- if request.page_type == 'product' -%}
  <meta
    property="og:price:amount"
    content="{{ product.price | money_without_currency | strip_html }}"
  >
  <meta
    property="og:price:currency"
    content="{{ cart.currency.iso_code }}"
  >
{%- endif -%}

{%- if settings.social_twitter_link != blank -%}
  <meta
    name="twitter:site"
    content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}"
  >
{%- endif -%}
<meta
  name="twitter:card"
  content="summary_large_image"
>
<meta
  name="twitter:title"
  content="{{ og_title | escape }}"
>
<meta
  name="twitter:description"
  content="{{ og_description | escape }}"
>









{% if tag_seo and tag_seo.seo_title.value != blank %}
  <title>{{ tag_seo.seo_title.value }}</title>
{% else %}
  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>
{% endif %}

{% if tag_seo and tag_seo.seo_description.value != blank %}
  <meta
    name="description"
    content="{{ tag_seo.seo_description.value | escape }}"
  >
{% elsif page_description %}
  <meta
    name="description"
    content="{{ page_description | escape }}"
  >
{% endif %}

{% if tag_seo %}
  <link
    rel="canonical"
    href="{{ shop.url }}/collections/{{ collection.handle }}/{{ tag_url_path }}"
  >
{% else %}
  <link
    rel="canonical"
    href="{{ canonical_url }}"
  >
{% endif %}





